
body {
    background-color: black;
    margin: 12px;
}

.wd-content-offset {
    clear: both; 
    padding-left: 16px;
    margin-top: 16px; 
}

/* A. */
.wd-search-bar {
    border-radius: 50px;
    width: 90%; 
}

.wd-bg-color-dark-grey {
    background-color: darkgray;
}

.wd-fg-color-white {
    color: white;
}

.wd-float-right {
    float: right;
    right: 200px;
 }

/* B. */
.wd-grid-row {
    clear: both;
}
 
.wd-grid-col-one {
    width: 13%;
    float: left;
}

.wd-highlight {
    color: #1DA1F2;
    padding-bottom: 10px;
    border-bottom: solid 5px #1DA1F2;
    border-radius: 4px;
}

.wd-fg-color-regular {
    color: rgb(110, 118, 125);
}

.wd-header-font {
    size: 15px;
    margin: 16px
}

/* C/D/E */

ul {
    list-style-type: none; 
    padding: 0px;
    margin: 0px;
}
.wd-bold-tuit {
    color: white; 
}

.wd-tuit-image {
    border-radius: 20px;
    width: 100px;
    height: 100px; 
    float: right; 
    right: 16px;
}

/* C. Trending Posts */
.wd-trending-post {
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
    color: rgb(110, 118, 125);
    font-size: 13px;
}

/* D. Authored Posts */
.wd-individual-post {
    height: 110px; 
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
    color: rgb(110, 118, 125);
    font-size: 13px;
}

/* E. Topic Posts */
.wd-topic-post {
    height: 110px; 
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
    color: rgb(110, 118, 125);
    font-size: 13px;
}