
body {
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.fa-gear {
    color: #1DA1F2;
}

/*

.fa-circle-check {
    size: 18px; 
}

.wd-content-offset {
    clear: both; 
    padding-top: 12px; 
    padding-bottom: 10px; 
    padding-left: 16px; 
}

.wd-search-bar {
    border-radius: 50px;
    width: 80%;
}

.wd-bg-color-dark-grey {
    background-color: darkgrey;
}

.wd-fg-color-white {
    color: white;
}

.wd-float-right {
    float: right;
    padding-right: 12px; 
 }

.wd-grid-row {
    clear: both;
}
 
.wd-grid-col {
    width: 13%;
    float: left;
    text-align: center;
}

.wd-highlight {
    color: #1DA1F2;
    padding-bottom: 10px;
    border-bottom: solid 5px #1DA1F2;
    border-radius: 4px;
}

.wd-fg-color-regular {
    color: rgb(110, 118, 125);
}

.wd-header-font {
    size: 15px;
    padding: 16px;
}

.wd-bold-tuit {
    color: white; 
    font-size: 18px; 
    padding-bottom: 8px; 
}

.wd-tuit-image {
    border-radius: 20px;
    width: 100px;
    height: 100px; 
    float: right; 
    right: 16px;
}

.wd-tuit-pfp {
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
}

.wd-trending-post {
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
}

.wd-post-regualr-text {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-individual-post {
    height: 110px; 
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-topic-post {
    height: 110px; 
    padding: 10px; 
    border: rgb(47, 51, 54);
    border-bottom-width: 0.5px;
    border-style: solid;
    color: rgb(110, 118, 125);
    font-size: 13px;
}
*/

.fa-stack.small { 
    font-size: 0.5em;
}

.list-group-item.stack-padding {
    padding-left: 0.8em; 
}


.btn-offset-tuit{
    margin-top: 0.5em;
    width: 100%
}

.follow-pfp {
    height: 48px; 
    width: 48px; 
    border-radius: 50%;
}

.follow-info {
    width: 70%;
    margin-right: none;
    padding-left: 10px;
}

.span-search-bar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    border-right: 0px;
}

.input-search-bar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0px;
}

.main-image {
    width: 100%;
    height: 100%;
}

.image-title {
    font-size: 40px;
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
  }

ul {
    list-style-type: none; 
    padding: 0px;
    margin: 0px;
}

.image-posts {
    border-radius: 20px;
    width: 90px;
    height: 90px; 
}

.fa-ellipsis {
    color: black
}